# 1 -

In [14]:
def add_an_item_to_a_tuple (tup,tup2):    
    tup1=list(tup)
    tup1.append(tup2)
    return tuple(tup1)
add_an_item_to_a_tuple((1,2,3,4,5,6,7,8,9),3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 3)

# 2-

In [75]:
def sum1(l):
    total = 0
    for i in l :
        total += i
    return total
sum1([1,2,4,8])

15

# 3-

In [25]:
def multiply(l):
    total = 1
    for i in l :
        total *= i
    return total
multiply([1,2,4,8])

64

# 4-

In [39]:
def smallest_number(lst):
    min1 = lst[0]
    for i in lst:
        if i < min1:
            min1 = i
    return min1
smallest_number([1,2,4,8,5])

1

# 5-

In [63]:
def largest_number(lst):
    min1 = lst[0]
    for i in lst:
        if i > min1:
            min1 = i
       # print(i)
       # print("*********")
       # print (min1)
       # print("////////")
    return min1
largest_number([1,2,4,8,5,11,10,9,12])

12

# 6-

In [65]:
def number_of_strings(val):
    max_len =[]
    total = 0
    for i in val :
        max_len.append(len(i))
    for j in max_len:
        total += j
    return total
    
number_of_strings(["Apple" , "Grappe" , "Maaaango" , "Banana"])

25

# 7-

In [67]:
def copy_a_list(val):
    lst = []
    for i in val :
        lst.append(i)
    return lst
copy_a_list([1,2,4,8,5,11,10,9,12])

[1, 2, 4, 8, 5, 11, 10, 9, 12]

# 8-

In [114]:
def remove_item_from_a_given_set(val,val2):
    set1=[]
    for i in val :
        if i == val2:
            continue
        set1.append(i)
    return set(set1)
    
remove_item_from_a_given_set({1,2,5,4,8,6,9},8)

{1, 2, 4, 5, 6, 9}

# 9-

In [134]:
def check_if_a_set_is_a_subset_of_another_set(val,val2):
        
        print ( " Is it a subset of another :",val2<=val)
    
check_if_a_set_is_a_subset_of_another_set({"Apple" , "Grappe" , "Maaaango" , "Banana"},{"Banana"})

 Is it a subset of another : True

# 10-

In [140]:
def remove_all_elements(val):
    val.clear()
    return val
remove_all_elements({"Apple" , "Grappe" , "Maaaango" , "Banana"})

set()

# 11-

In [55]:
def maximum_and_minimum_values_in_a_set(lst):
    min1 =list(lst)
    min2 = min1[0]
    min3 = min1[0]
    for i in lst:
        if i < min2:
            min2 = i
    print(" the minimum number is :",min2)
   
    for i in lst:
        if i > min3:
            min3 = i
    print(" the maximum number is :",min3)
maximum_and_minimum_values_in_a_set({1,2,4,8,5})

 the minimum number is : 1
 the maximum number is : 8

# 12-

In [ ]:
def find_the_index_of_an_item_in_a_tuple (val,val2):
    x = val.index(val2)
    return x
find_the_index_of_an_item_in_a_tuple((1,2,3,4,5,6,7,8,9),8)

# 13 -

In [62]:
x = ("mohamed ",18)

{18, 'mohamed '}

In [82]:
def convert_a_tuple_to_a_dictionary (val):
    dic = dict((x,y)for x , y in val)
        
    print (dic)
convert_a_tuple_to_a_dictionary((("lily","mo"),("fsf",8),("o",5),(1,8)))

{'lily': 'mo', 'fsf': 8, 'o': 5, 1: 8}

# 14-

In [60]:
def unzip_a_list_of_tuples(val):
    for i in val :  
        print (list(i))
unzip_a_list_of_tuples([("lily","mo"),("fsf",8),("o",5),(1,8)])

['lily', 'mo']
['fsf', 8]
['o', 5]
[1, 8]

# 15 -

In [19]:
def reverse_tuple(val):
    lst = list(val)
    lst.reverse()
    print (lst)
reverse_tuple(x)

[(1, 8), ('o', 5), ('fsf', 8), ('lily', 'mo')]

# 16-

In [23]:
def convert_a_list_of_tuple_to_a_dictionary (val):
    dic = dict((x,y)for x , y in val)
        
    print (dic)
convert_a_list_of_tuple_to_a_dictionary([("lily","mo"),("fsf",8),("o",5),(1,8)])

{'lily': 'mo', 'fsf': 8, 'o': 5, 1: 8}

# 17-

In [87]:
def replace_the_last_value_of_tuples_in_a_list (val1 ,va2):
    print (list(i[:-1] + (va2,) for i in val1 ))
        
    
replace_the_last_value_of_tuples_in_a_list([("lily","mo"),("fsf",8),("o",5),(1,8)],120)

[('lily', 120), ('fsf', 120), ('o', 120), (1, 120)]

# 18-

In [ ]:
def l (val):
    len_val = len(val)
    for i in range(0,len_val):